<div class="menu" *ngIf="user.type=='klijent' && !admin">
    <a routerLink="/client" style="font-weight: bold; width: 5%;">⌂</a>
    <a routerLink="/profile">Profil</a>
    <div class="dropdown">
        <button class="drop-button">Objekti</button>
        <div class="dropdown-list">
            <a routerLink="/property">Moji objekti</a>
            <a href="/add-property">Dodavanje objekata</a>
        </div>
    </div>
    <a href="/guest">Agencije</a>
    <a routerLink="/client-job">Poslovi</a>
    <a id="logout" routerLink="/logout" style="float: right;">Logout</a>
</div>
<div class="menu" *ngIf="user.type=='agencija' && !admin">
    <a routerLink="/agency" style="font-weight: bold; width: 5%;">⌂</a>
    <a routerLink="/profile">Profil</a>
    <a routerLink="/worker">Radnici</a>
    <a routerLink="/agency-job">Poslovi</a>
    <a id="logout" routerLink="/logout" style="float: right;">Logout</a>
</div>
<h1>Profil</h1>
<div class="image-div">
<img src="{{image.imageUrl}}" height="100px" width="100px">
<input type="file" name="avatar" id="avatar" accept="image/jpg, image/png" (input)="imageSelected($event)">
<button (click)="editImage()" *ngIf="selectedImage">Izmeni</button>
</div>
<div class="data" *ngIf="user.type=='klijent'">
    <label for="firstname">Ime: </label>
    <input type="text" name="firstname" id="firstname" [(ngModel)]="user.firstname" value="{{user.firstname}}"><br/> 
    <label for="lastname">Prezime: </label>
    <input type="text" name="lastname" id="lastname" [(ngModel)]="user.lastname" value="{{user.lastname}}"><br/>
    <label for="email">Email: </label>
    <input type="text" name="email" id="email" [(ngModel)]="user.email" value="{{user.email}}"><br/>
    <label for="telephone">Broj telefona: </label>
    <input type="text" name="telephone" id="telephone" [(ngModel)]="user.telephone" value="{{user.telephone}}"><br/>
    <button (click)="editUser(true)">Izmeni</button>
</div>
<div class="data" *ngIf="user.type=='agencija'">
    <label for="agency">Naziv agencije: </label>
    <input type="text" name="agency" id="agency" [(ngModel)]="user.agency" value="{{user.agency}}"><br/> 
    <label for="address">Adresa: </label>
    <input type="text" name="address" id="address" [(ngModel)]="user.address_string" value="{{user.address_string}}"><br/>
    <label for="description">Opis: </label>
    <input type="text" name="description" id="description" [(ngModel)]="user.description" value="{{user.description}}"><br/>
    <label for="email">Email: </label>
    <input type="text" name="email" id="email" [(ngModel)]="user.email" value="{{user.email}}"><br/>
    <label for="telephone">Broj telefona: </label>
    <input type="text" name="telephone" id="telephone" [(ngModel)]="user.telephone" value="{{user.telephone}}"><br/>
    <button (click)="editUser(true)">Izmeni</button>
</div>
<div class="workers" *ngIf="user.type=='agencija' && admin">
    <table border="2">
        <h2>Radnici</h2>
        <tr>
            <th>Ime i prezime</th>
            <th>Specijalizacija</th>
        </tr>
        <tr *ngFor="let w of workers">
            <td>{{w.firstname}} {{w.lastname}}</td>
            <td>{{w.occupation}}</td>
            <td><button (click)="editWorker(w)">Izmeni</button></td>
            <td><button (click)="deleteWorker(w)">X</button></td>
        </tr>
    </table>
    <div class="req" *ngIf="workerReq!=null">
        <h2>Zahtev za proširenjem</h2>
        <p>Broj mesta: {{workerReq.increment}} <button (click)="accept()">Odobri</button>&nbsp;<button (click)="reject()">Odbij</button></p>
    </div>
</div>
<div class="add-worker" style="width: 60%;" *ngIf="user.type=='agencija' && admin">
    <h2>Dodaj radnika</h2>
    <label for="firstname">Ime: </label>
    <input type="text" name="firstname" id="firstname" [(ngModel)]="workernew.firstname"><br/>
    <label for="lastname">Prezime: </label>
    <input type="text" name="lastname" id="lastname" [(ngModel)]="workernew.lastname"><br/>
    <label for="email">Email: </label>
    <input type="text" name="email" id="email" [(ngModel)]="workernew.email"><br/>
    <label for="phone">Broj telefona: </label>
    <input type="text" name="phone" id="phone" [(ngModel)]="workernew.phone"><br/>
    <label for="occupation">Specijalizacija: </label>
    <input type="text" name="occupation" id="occupation" [(ngModel)]="workernew.occupation"><br/>
    <button (click)="insertWorker()">Dodaj</button>
    <p style="color: red">{{message}}</p>
</div>