<div class="menu">
    <a routerLink="/agency" style="font-weight: bold; width: 5%;">⌂</a>
    <a routerLink="/profile">Profil</a>
    <a routerLink="/worker">Radnici</a>
    <a routerLink="/agency-job">Poslovi</a>
    <a id="logout" routerLink="/logout" style="float: right;">Logout</a>
</div>
<div class="req">
    <h2>Zahtevi za saradnju</h2>
<table border="2" *ngIf="myRequests.length>0">
<tr>
    <th>Klijent</th>
    <th>Email</th>
    <th>Objekat</th>
</tr>
<tr *ngFor="let r of myRequests">
    <td *ngIf="r.status==0">{{userMap.get(r.client_username)}}</td>
    <td *ngIf="r.status==0">{{emailMap.get(r.client_username)}}</td>
    <td *ngIf="r.status==0">{{propertyMap.get(r.property_id)}}</td>
    <td *ngIf="r.status==0"><input type="text" [(ngModel)]="offer">&nbsp;<button (click)="sendOffer(r)">Ponuda</button></td>
    <td *ngIf="r.status==0"><button (click)="reject(r)">Odbij</button></td>
</tr>
</table>
<p class="error">{{message}}</p>
</div>
<div class="job">
<h2>Aktivni poslovi</h2>
<table border="2">
    <tr>
        <th>Klijent</th>
        <th>Email</th>
        <th>Objekat</th>
    </tr>
    <tr *ngFor="let r of myRequests">
        <td *ngIf="r.active">{{userMap.get(r.client_username)}}</td>
        <td *ngIf="r.active">{{emailMap.get(r.client_username)}}</td>
        <td *ngIf="r.active">{{propertyMap.get(r.property_id)}}</td>
        <td *ngIf="r.active"><button (click)="showSketch(r)">Skica</button></td>
    </tr>
</table>
</div>
<canvas #canvas width="500px" height="300px" style="border: 1px solid black;"></canvas>
<div class="add-workers">
    <h3>Dodela posla</h3>
    Radnik: <select name="worker" id="worker" [(ngModel)]="selectedWorker">
        <option *ngFor="let w of myWorkers" value="{{w._id}}">{{w.firstname + ' ' + w.lastname + ', ' + w.occupation}}</option>
    </select>
    Soba: <select name="room" id="room" *ngIf="selectedRequest!=null" [(ngModel)]="selectedRoom">
        <option *ngFor="let r of selectedRequest.rooms_colors; let i = index" value="{{i}}">{{'soba '}} {{i+1}}</option>
    </select>
    <select *ngIf="selectedRequest==null" [(ngModel)]="selectedRoom">
        <option value="null">Izaberite posao</option>
    </select>
    <button (click)="addWorker()">Dodaj</button>
    <p class="error">{{message2}}</p>
</div>
<div class="remove-workers">
    <h3>Završetak posla</h3>
    Soba: <select name="room" id="room" *ngIf="selectedRequest!=null" [(ngModel)]="selectedRoom2">
        <option *ngFor="let r of selectedRequest.rooms_colors; let i = index" value="{{i}}">{{'soba '}} {{i+1}}</option>
    </select>
    <select *ngIf="selectedRequest==null" [(ngModel)]="selectedRoom">
        <option value="null">Izaberite posao</option>
    </select>
    <button (click)="removeWorker()">Ukloni</button>
    <p class="error">{{message3}}</p>
</div>