<div class="menu">
    <a routerLink="/client" style="font-weight: bold; width: 5%;">⌂</a>
    <a routerLink="/profile">Profil</a>
    <div class="dropdown">
        <button class="drop-button">Objekti</button>
        <div class="dropdown-list">
            <a routerLink="/property">Moji objekti</a>
            <a href="/add-property">Dodavanje objekata</a>
        </div>
    </div>
    <a routerLink="/guest">Agencije</a>
    <a routerLink="/client-job">Poslovi</a>
    <a id="logout" routerLink="/logout" style="float: right;">Logout</a>
</div>
<h1>{{username}}</h1>