th, td{
    border: 1px salmon solid;
    font-family: monospace;
}

table{
    border-collapse: collapse;
    width: 70%;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;   
}

#empty{
    border-top: none;
    border-left: none;
    background-color: rgb(215, 251, 251);
}

th{
    font-weight: bold;
    color: azure;
    background-color: rgb(51, 51, 51);
}

/* .button-search{
  background-color: burlywood;
  color: rgb(215, 251, 251);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
} */

.button-sort{
    background-color: burlywood;
    color:rgb(51, 51, 51);
    border: none;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 3px;
}

.navigate:hover{
    cursor: pointer;
    background-color: cadetblue;
}

.search {
    background-color: white;
    padding: 3px;
}

.search-name {
    position: relative;
    width: 100%
}

.search-name input {
    height: 40px;
    border: none;
    width: 100%;
    padding-left: 34px;
    padding-right: 10px;
    border-right: 2px solid rgb(215, 251, 251);
}

.search-address {
    position: relative;
    width: 100%
}

.search-address input {
    height: 40px;
    border: none;
    width: 100%;
    padding-left: 18px;
    padding-right: 100px
}

.search-address button {
    position: absolute;
    right: 1px;
    top: 0px;
    border: none;
    height: 40px;
    background-color: burlywood;
    color: rgb(51, 51, 51);
    width: 100px;
    border-radius: 4px
}

@media (max-width:700px) {
    .search-name input {
        border-right: none;
        border-bottom: 1px solid rgb(215, 251, 251);
    }

    .search-address input {
        padding-left: 34px
    }
}