<h2>Agencije</h2>
<table>
    <tr>
        <th id="empty"></th>
        <th>Naziv</th>
        <th>Opis</th>
    </tr>
    <tr *ngFor="let agency of agencies">
        <td><img src="{{imagesMap.get(agency.username)}}" width="50px" height="50px"></td>
        <td>{{agency.agency}}</td>
        <td>{{agency.description}}</td>
    </tr>
</table>
<table>
    <tr>
        <td class="search">Pretraga: </td>
        <td class="search"><input type="text" placeholder="Naziv" [(ngModel)]="agency"></td>
        <td class="search"><input type="text" placeholder="Adresa" [(ngModel)]="address"></td>
        <td class="search" (click)="search()"><button>Pretraga</button></td>
    </tr>
</table>