input{
    width: 60%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

label{
    display: inline-block;
    text-align: right;
    width: 20%;
    margin-right: 1%;
}

.button-send{
    background-color: rgb(40, 189, 149);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

.button-send:hover{
    opacity: 0.8;
}

.error{
    color: red;
}