<nav class="p-0 navbar navbar-expand-xl">
    <div class="container-fluid menu">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-expanded="false" aria-label="Show navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a routerLink="/admin" class="nav-link" style="font-weight: bold;">⌂</a>
          </li>
          <li class="nav-item">
            <a routerLink="/registration-requests" class="nav-link">Zahtevi</a>
          </li>
          <li class="nav-item">
            <a routerLink="/admin-jobs" class="nav-link">Poslovi</a>
          </li>
          <li class="nav-item ms-auto">
            <a routerLink="/logout" class="nav-link" id="logout">Logout</a>
          </li>
        </ul>
    </div>
</div>
</nav>
<div class="table-responsive">
    <h2>Zahtevi za registraciju</h2>
    <table class="table table-hover" *ngIf="requests.length>0">
      <thead>
        <tr>
          <th>Korisničko ime</th>
          <th>Email</th>
          <th>Broj telefona</th>
          <th>Tip</th>
      </tr>
      </thead>
      <tbody>
        <tr class="table-info" *ngFor="let r of requests">
          <td>{{r.username}}</td>
          <td>{{r.email}}</td>
          <td>{{r.telephone}}</td>
          <td>{{r.type}}</td>
          <td><button (click)="accept(r)" class="btn btn-success">Odobri</button></td>
          <td><button (click)="reject(r)" class="btn btn-danger">Odbij</button></td>
      </tr>
      </tbody>
    </table>
    <h3 *ngIf="requests.length==0">Nemate nijedan zahtev</h3>
</div>